.addPost-form{
  border: 1px solid #eceeef;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-inline .form-control {
  width: 100%;
  margin-bottom: 8px;
}
.form-inline .addPost-button{
  width: 100%;
}
.remove-button{
  width: 100%;
}
.post-alert-box{
  padding-top: 10px;
}
.post-alert{
  cursor: pointer;
}
