.remove-button{
  width: 100%;
}
.addPost-form{
  border: 1px solid #eceeef;
  padding-top: 10px;
  padding-bottom: 10px;
}
.addPost-input{
  width: 100% !important;
}
.addPost-button{
  width: 100%;
}
